<article class="product-card">
  <%= link_to coffee_path(coffee), class: "product-card__link" do %>
    <div class="product-card__image-wrap">
      <%= image_tag "products/placeholder.svg",
            alt: coffee.name,
            width: 600,
            height: 750,
            loading: "lazy",
            class: "product-card__image" %>
    </div>

    <div class="product-card__body">
      <h3 class="product-card__name"><%= coffee.name %></h3>
      <p class="product-card__origin"><%= coffee.origin %></p>
      <p class="product-card__roast"><%= coffee.roast_level.humanize %></p>

      <% if coffee.tasting_notes.loaded? && coffee.tasting_notes.any? %>
        <ul class="product-card__notes">
          <% coffee.tasting_notes.each do |note| %>
            <li class="product-card__note"><%= note.name.capitalize %></li>
          <% end %>
        </ul>
      <% end %>

      <p class="product-card__price"><%= coffee.formatted_price %></p>
    </div>
  <% end %>
</article>
