<% content_for :title, @coffee.name %>

<div class="product-detail zone--light">
  <div class="container product-detail__inner">

    <div class="product-detail__image-wrap">
      <%= image_tag "stock/stock_coffee_bag.jpg",
            alt: @coffee.name,
            width: 800,
            height: 1000,
            class: "product-detail__image" %>
    </div>

    <div class="product-detail__info">
      <p class="product-detail__origin"><%= @coffee.origin %></p>
      <h1 class="product-detail__name"><%= @coffee.name %></h1>
      <p class="product-detail__roast"><%= @coffee.roast_level.humanize %> Roast</p>

      <% if @coffee.tasting_notes.any? %>
        <ul class="tasting-notes">
          <% @coffee.tasting_notes.each do |note| %>
            <li class="tasting-notes__tag"><%= note.name.capitalize %></li>
          <% end %>
        </ul>
      <% end %>

      <% if @coffee.description.present? %>
        <p class="product-detail__description"><%= @coffee.description %></p>
      <% end %>

      <p class="product-detail__price"><%= @coffee.formatted_price %></p>

      <%= form_with url: cart_cart_items_path, data: { turbo_stream: true } do %>
        <%= hidden_field_tag "cart_item[coffee_id]", @coffee.id %>
        <%= hidden_field_tag "cart_item[quantity]", 1 %>
        <%= submit_tag "Add to Cart", class: "btn btn--primary btn--large" %>
      <% end %>
    </div>

  </div>
</div>
